:root {
  /*Colors*/
  --color-text: rgb(199, 190, 151);
  --color-primary: #f2d492ff;
  --color-secondary: #283845ff;
  --color-dark: rgb(6, 35, 58);
  --color-bg: #202c39ff;
}


/* colors
--gunmetal: #202c39ff;
--gunmetal-2: #283845ff;
--sage: #b8b08dff;
--peach-yellow: #f2d492ff;
--atomic-tangerine: #f29559ff;
 */